[Unit]
Description=Royal HealthCare Spring Boot
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=java -jar /artifact/royal-healthy-care-0.0.1-SNAPSHOT.jar
[Install]
WantedBy=multi-user.target
